<nav>
    <div class="nav-wrapper " style="background-color: #5663a7;">
     <div class="container">
        <a href="#" class="brand-logo">
            <img src="../../../assets//christus-logo.png.jsf" style="width: 150px;"  alt="">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- <li><a href="badges.html">Components</a></li> -->
          <li class="d-flex align-items-center justify-content-center">
             <a href="" class="mt-1 img">
                <div style="display: inline-block; border-radius: 100%   ;" class="d-flex align-items-center justify-content-center">
                    <img style="max-width: 14%; border-radius: 100%" src="../../../assets//9VPdGJJz_400x400.jpg" alt="">
                </div>
                <div style=" top: 100px;">
                    <ul style="list-style: none; ">
                        <li><a href="">dasdas</a></li>
                        <li><a href="">dasdas</a></li>
                        <li><a href="">dasdas</a></li>
                        <li><a href="">dasdas</a></li>
                        <li><a href="">dasdas</a></li>
                    </ul>
                </div>
             </a>
        </li>
        </ul>
     </div>
    </div>
  </nav>
